---
import SubmissionForm from "./submisionForm.svelte";

  interface Contact {
      name: string;
      email: string;
  }

  interface Result {
      method: string;
      testAucRoc: number;
      testPrecision: number;
      testRecall: number;
      testF1: number;
      contact: Contact;
      references: string;
  }

  interface Props {
    jsonString: string;
    leaderboardName: string;
}

  const {jsonString, leaderboardName} = Astro.props;



  let results: Result[] = [];

  try {
      results = JSON.parse(jsonString);
      // Sort the results by testAucRoc in descending order
      results.sort((a, b) => b.testAucRoc - a.testAucRoc);
  } catch (error) {
      console.error("Error parsing JSON string", error);
  }
---

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
        class="w-full text-sm text-left text-gray-500 dark:text-gray-400 my-0"
    >
        <!-- Table headers -->
        <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
            <tr>
                <th scope="col" class="px-6 py-3"> Rank </th>
                <th scope="col" class="px-6 py-3"> Method </th>
                <th scope="col" class="px-6 py-3"> Test AUC-ROC </th>
                <th scope="col" class="px-6 py-3"> Test Precision </th>
                <th scope="col" class="px-6 py-3"> Test Recall </th>
                <th scope="col" class="px-6 py-3"> Test F1 </th>
                <th scope="col" class="px-6 py-3"> Contact </th>
                <th scope="col" class="px-6 py-3"> References </th>
            </tr>
        </thead>
        <tbody>
        {results.map((result, index) => (
            <!-- Table rows -->
            <tr
                class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
            >
                <td class="px-6 py-4">
                    {index + 1}
                </td>
                <td class="px-6 py-4">
                    {result.method}
                </td>
                <td class="px-6 py-4">
                    {result.testAucRoc}
                </td>
                <td class="px-6 py-4">
                    {result.testPrecision}
                </td>
                <td class="px-6 py-4">
                    {result.testRecall}
                </td>
                <td class="px-6 py-4">
                    {result.testF1}
                </td>
                <td class="px-6 py-4">
                    <a
                        href={`mailto:${result.contact.email}`}
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >
                        {result.contact.name}
                    </a>
                </td>
                <td class="px-6 py-4">
                    <a
                        href={result.references}
                        target="_blank"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        >Link</a
                    >
                </td>
            </tr>
        ))}
        </tbody>
    </table>
</div>

<SubmissionForm {leaderboardName} client:load />
